# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
.classpath
.project
unisocial-hibernate
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
unisocial-hibernate
unisocial-hibernate
